include ./mixin/header

doctype html
html(lang='en', data-bs-theme='dark')
    head
        meta(charset='utf-8')
        title Accueil
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', name='viewport')
        link(rel='icon', type='image/x-icon', href='img/favicon.ico')
        link(href='assets/plugins/@fortawesome/fontawesome-free/css/all.min.css', rel='stylesheet')
        link(href='assets/plugins/bootstrap-icons/font/bootstrap-icons.css', rel='stylesheet')
        link(href='assets/plugins/jquery-ui-dist/jquery-ui.min.css', rel='stylesheet')
        link(href='assets/plugins/animate.css/animate.min.css', rel='stylesheet')
        link(href='assets/plugins/pace-js/themes/black/pace-theme-flash.css', rel='stylesheet')
        link(href='assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css', rel='stylesheet')
        link(href='assets/plugins/jvectormap-next/jquery-jvectormap.css', rel='stylesheet')
        link(href='assets/css/app.min.css', rel='stylesheet')
        link(href='css/home.css', rel='stylesheet')
    body.theme-red
        #app.app.app-sidebar-collapsed.app-footer-fixed
            +header()
            #content.app.app-content
                .mb-3
                    if error != ""
                        br
                        .alert.alert-danger.text-center!=error
                        br

                    if success != ""
                        br
                        .alert.alert-success.text-center!=success
                        br
                    .row
                        .col-xl-6.col-lg-6
                            .card.d-flex.h-100
                                .card-body
                                    h5.card-title Valeur BTC (Dernier 48 heures)
                                    canvas#lineChart
                                    .card-arrow
                                        .card-arrow-top-left
                                        .card-arrow-top-right
                                        .card-arrow-bottom-left
                                        .card-arrow-bottom-right
                        .col-xl-6.col-lg-6
                            .card.d-flex.h-100
                                .card-body
                                    h5.card-title Valeur ETH (Dernier 48 heures)
                                    canvas#lineChartETH
                                    .card-arrow
                                        .card-arrow-top-left
                                        .card-arrow-top-right
                                        .card-arrow-bottom-left
                                        .card-arrow-bottom-right
                .mb-3
                    .row
                        .col-xl-12.col-lg-12
                            .card.d-flex.h-100
                                .card-body.text-center
                                    h5.card-title Historique de transactions
                                    .table-responsive
                                        table.table.table-striped.table-bordered
                                            thead
                                                tr
                                                    th(scope="col") Action
                                                    th(scope="col") Type
                                                    th(scope="col") De
                                                    th(scope="col") Vers
                                                    th(scope="col") Quantité
                                            tbody
                                                each transaction in transactions
                                                    tr
                                                        th(scope="row")=transaction.tType
                                                        td=transaction.description
                                                        td=transaction.from
                                                        td=transaction.to
                                                        td=transaction.amount
                                    .card-arrow
                                        .card-arrow-top-left
                                        .card-arrow-top-right
                                        .card-arrow-bottom-left
                                        .card-arrow-bottom-right
            a.btn-scroll-top.fade(href='#', data-toggle='scroll-to-top')
                i.fa.fa-arrow-up

            #footer.app-footer
                p @ 2023 Cryptova, tous droits réservés
        script(src='assets/plugins/pace-js/pace.min.js')
        script(src='assets/plugins/jquery/dist/jquery.min.js')
        script(src='assets/plugins/jquery-ui-dist/jquery-ui.min.js')
        script(src='assets/plugins/bootstrap/dist/js/bootstrap.bundle.min.js')
        script(src='assets/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js')
        script(src='assets/plugins/js-cookie/dist/js.cookie.min.js')
        script(src='assets/plugins/jvectormap-next/jquery-jvectormap.min.js')
        script(src='assets/plugins/jvectormap-content/world-mill.js')
        script(src='assets/plugins/chart.js/dist/chart.umd.js')
        script(src='assets/plugins/apexcharts/dist/apexcharts.min.js')
        script(src='assets/js/app.min.js')
        script(src='js/home.js')